<div>
    <h3>Welcome to the Service Control Panel</h3>
    <p>This is a service that allows makers of online game servers for the TI-84+ line of graphing calculators to host services for their games to allow users to enjoy their game without needing to set up and host a server of their own. It is a free service for all, though hostees are given the option to enable an ad on their service explainer page to help cover costs associated with running this server.</p>
</div>
<div id="form">
    <form action="" method="post">
        <label for="service-name">Service Name:</label>
        <input id="service-name" name="service-name" type="text" />
        <label for="service-login">Service Login:</label>
        <input id="service-login" name="service-login" type="password" />
        <label for="service-submit" class="button">LOGIN</label>
        <input id="service-submit" name="service-submit" type="submit" />
        <?php
        foreach($errors as $e){
            echo $e."<br />";
        }
        ?>
    </form>
</div>
