html, body, div, h1, h2, h3, h4, h5, h6, p {margin:0; padding:0; outline:0;}
			html, body {width:100vw; height:100vh;}
			body {
				background:#306082;
				color:#5fcde4;
				display:flex; flex-direction:column; align-items:flex-start;
				font-family:'Share Tech Mono', monospace;
			}
			details > summary {list-style: none;}
			details > summary::-webkit-details-marker {display: none;}
			#logo-wrapper {width:100%; height:auto; margin:5vh 0;}
			#logo {
				width:70%; margin:auto;
				border:5px double #37946e;
				color:#37946e;
				padding:10px;
				font-size:42px;
				height:auto;
				text-align:center;
				-webkit-text-stroke:2px #37946e;
				text-stroke:2px #37946e;
				letter-spacing:115%;
			}
			#tag {display:flex; flex-wrap:wrap; font-size:24px;}
			.bold {font-weight:bold;}
			#nav {height:100%; width:20%;}
			.navitem {margin-left:1vw; padding:0px 5px; cursor:pointer; cursor:hand; width:90%; flex:0;}
			#nav details {font-size:115%; width:100%;}
			#nav details>summary, .major {font-size:110%; font-weight:bold;}
			.major {font-size:125%;}
			.subwrapper {margin-left:1vw; border-left:2px solid #37946e;}
			.navitem:hover {background:rgba(0,0,0,.4);}
			.navitem.active {background:rgba(255,255,255,.15);}
			#login {margin-bottom:2vh;}
			#content {display:flex; justify-content:space-between; width:100%; align-self:flex-start; flex:1;}
			#footer {width:100%; align-self:flex-end; background:#302f2d; color:#368665; flex:0; display:flex; flex-direction:row; align-items:center; justify-content:space-evenly;}
			.footer-item { padding:5px 5px; font-weight:bold;}
			#copy {align-self:flex-end; text-align:right; margin-right:1vw;}
			h3 {-webkit-text-stroke:1px black; text-stroke:1px black;}
			.spacer {flex:1;}
			#main {background:#83929a; width:80%; height:85%; align-self:flex-end; font-size:18px; color:black; overflow:auto;}
			#main>#inner {margin:30px; color:black;}
			#main table {color:black; width:85%; margin:auto;}
			.coded {font-family:monospace;}
			#nav-inner {width:90%; height:100%; margin:auto; display:flex; flex-direction:column; flex-wrap:wrap; justify-content:flex-start; align-items:flex-start;}
			.smaller {font-size:75%;}
			.navitem a, #logo a {color:inherit; text-decoration:none;}
			.pkg-item {width:100%; display:flex; flex-direction:row; justify-content:space-between; flex-wrap:wrap; text-align:left; font-size:85%;}
			.pkg-item:not(.labels) {background:rgba(255,255,255,.3); margin:5px 0;}
			.pkg-item.labels {font-weight:bold; font-size:115%;}
			.pkg-name { flex:0 0 25%; width:25%; }
			.pkg-author { flex:0 0 25%; width:25%; }
			.pkg-desc { flex:0 0 100%; width:100%; }
			.pkg-file {flex:0 0 90%; width:90%; display:flex; flex-direction:row; justify-content:space-between; font-size:75%; margin:2px auto;}
			.pkg-file-name {flex:0 0 20%; width:20%; display:flex; align-items:center;}
			.pkg-file-hashes {flex:0 0 80%; width:80%;}
