form {
    display: block;
    width: 90%;
    margin: auto;
    height: 45%;
    color: white;
    background: rgba(0, 0, 0, .5);
}

form>* {
    margin: 0 2%;
}

input[type=text],
input[type=email],
input[type=password] {
    display: block;
    width: 90%;
    margin: 0 2%;
}