#forms {
    width: 100%;
    margin: 5% auto;
    display: flex;
    justify-content: space-around;
}

form {
    width: 35%;
    background: rgba(0, 0, 0, .5);
    padding: 2%;
    color: white;
}

form input:not([type=submit]) {
    outline: 2px solid goldenrod;
    width: 95%;
    height: 25px;
    font-size: 16px;
    margin: 5px 0;
}

#login-button {
    display: none;
}

#home-button {
    display: block;
}

input[name=l_passwd_reset] {
    float: right;
}

#reset-pass {
    display: none;
    position: fixed;
    width: 30%;
    height: auto;
    top: 40vh;
    left: 35%;
    border: 2px solid blue;
    box-shadow: 4px 4px 4px black;
    background: rgba(0, 0, 0, .9);
}

#reset-pass-close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background: red;
    text-align: center;
    color: white;
    font-weight: bold;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    cursor: hand;
}

#reset-pass form {
    width: 100%;
}