 @font-face {
     font-family: "Share Tech";
     src:
         url("/fonts/sharetech/ShareTechMono-Regular.ttf") format("truetype")
 }


 html,
 body {
     width: 100vw;
     height: 100vh;
     margin: 0;
     padding: 0;
     outline: 0;
     overflow: hidden;
 }

 html {
     background: white;
 }

 body {
     display: flex;
     flex-direction: row;
     background: rgb(105, 105, 105);
     background: radial-gradient(circle, rgba(48, 48, 48, .80) 0%, rgba(48, 48, 48, 1) 100%);
     background: -moz-radial-gradient(circle, rgba(48, 48, 48, .80) 0%, rgba(48, 48, 48, 1) 100%);
     background: -webkit-radial-gradient(circle, rgba(48, 48, 48, .80) 0%, rgba(48, 48, 48, 1) 100%);
 }

 #header {
     flex: 3;
     position: relative;
     background: rgba(255, 255, 255, 1);
     height: 100%;
     color: black;
     box-shadow: 2px 2px 10px black;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     overflow-y: auto;
 }

 #header>* {
     width: 100%;
     text-align: center;
     flex: 0;
 }

 #ta-icon {
     width: auto;
     flex: 0;
 }

 #home-button {
     display: none;
 }

 #title {
     width: auto;
     font-size: 64px;
     font-family: "Share Tech";
     font-weight: 900;
     flex: 0;
     height: 100%;
     text-stroke: 3px black;
     -webkit-text-stroke: 3px black;
 }

 #infoline {
     color: blue;
     font-weight: bold;
     width: 100%;
     height: 40%;
     font-size: calc(14px + 0.5vw);
     font-family: "Share Tech";
     text-align: center;
 }

 #header p {
     margin: 0;
 }

 #totp-form,
 #login {
     display: block;
     width: 50%;
     margin: 1% auto;
     padding: 2%;
     flex: 0;
 }


 #totp-form>input,
 #login>input {
     width: 100%;
     background: rgba(0, 0, 0, .1);
     height: 35px;
     margin: 10px 0;
 }

 #danger {
     margin: 20px 0;
     border-left: 2px solid darkred;
     padding-left: 5%;
     width: 100%;
 }

 #logout {
     margin-bottom: 10px;
 }

 #danger>input[type=submit] {
     width: 50%;
     margin: 5px 0;
 }

 #logout,
 #newpass,
 #getkey {
     margin: 5px 0;
     text-align: left;
 }

 #login>input[type=submit] {
     width: 49%;
 }

 #danger>input[type=submit],
 #newpass>input[type=submit],
 #getkey>input[type=submit],
 #totp-form>input[type=submit],
 #logout>input[type=submit],
 #logout>input[type=submit],
 #login>input[type=submit] {
     cursor: pointer;
     cursor: hand;
 }

 #logout>input[type=submit],
 #getkey>input[type=submit],
 #newpass>input[type=submit] {
     margin-left: 5%;
 }

 #getkey>input[type=submit]:hover,
 #newpass>input[type=submit]:hover,
 #totp-form>input[type=submit]:hover,
 #logout>input[type=submit]:hover,
 #logout>input[type=submit]:hover,
 #login>input[type=submit]:hover {
     border: 1px inset silver;
 }

 #navigation {
     width: 100%;
     height: auto;
     display: flex;
     justify-content: space-around;
     align-self: flex-end;
 }

 .navitem {
     margin: 0;
     flex: 1;
     width: 100%;
     justify-content: center;
     font-family: "Share Tech";
     cursor: pointer;
     cursor: hand;
     font-size: 20px;
     background: rgba(0, 0, 0, .2);
     padding: 5px 0;
 }

 .navitem>a {
     text-decoration: none;
     color: inherit;
 }

 .navitem:hover {
     background: rgba(0, 0, 0, .3);
 }

 #home-dash-toggle {
     display: flex;
     align-items: center;
     justify-content: center;
     width: auto;
 }

 #home-button div,
 #login-button div {
     padding: 5px;
 }


 #login-button:hover,
 #home-button:hover {
     opacity: 0.7;
 }

 #content {
     flex: 3;
     position: relative;
     width: 100%;
     height: 86%;
     overflow: auto;
     text-align: left;
     color: white;
 }

 #content>*:not(br) {
     margin: 5px 25px;
 }

 #compliances {
     display: none;
     position: absolute;
     left: 30%;
     top: 20%;
     width: 40%;
     height: 60%;
     background: rgb(48, 48, 48);
     border: 3px solid goldenrod;
     box-shadow: 3px 3px 5px black;
     color: white;
     font-size: 18px;
 }

 #compliances>.close {
     position: absolute;
     top: -10px;
     right: -10px;
     width: 20px;
     height: 20px;
     background: red;
     color: white;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     cursor: pointer;
     cursor: hand;
 }

 #compliances>p {
     margin: 2%;
 }

 #compliances a {
     color: goldenrod;
 }

 @media only screen and (max-width: 600px) {
     body {
         overflow: auto;
         scroll-behavior: smooth;
     }

     #header {
         height: auto;
         display: block;
     }

     #ta-icon {
         display: none;
     }

     #login-button {
         display: none;
     }

     #navigation,
     #title {
         width: 100%;
     }

     #infoline-nav {
         width: 100%;
     }

     #infoline {
         width: 100%;
         font-size: 12px;
         border-bottom: 1px solid black;
     }

     #compliances {
         width: 90%;
         height: 70vh;
         left: 4%;
         top: 15%;
     }
 }